.grid {
  font-size: 0;
  margin: 30px 0px 0px;
  z-index: -1;
  max-width: 100%;
  min-width: 1918px;
}

body {
  background-color: #343A40;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: red;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.1em;
  max-width: 300px;
}

.navbar {
  user-select: none;
  max-width: 100%;
  min-width: 600px;
  z-index: 1;
  border: 2px solid white;
}

.dropdown-menu {
  border: 2px solid white;
}

.box {
  max-width: 300px;
  min-width: 300px;
  padding: 40px;
  position: absolute;
  top: 89px;
  left: 0%;
  background: #343A40;
  text-align: center;
  user-select: none;
  z-index: 0;
}

.box input[type="number"] {
  border: 0;
  background: none;
  position: relative;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 14px;
  border: 2px solid #3498db;
  padding: 14px 10px;
  max-width: 220px;
  min-width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="number"]:focus {
  width: 220px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 0.8em;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  max-width: 180px;
  min-width: 180px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {  
  background: #2ecc71;
}